@media only screen and (max-device-width: 800px),
only screen and (device-width: 1024px) and (device-height: 600px),
only screen and (width: 1280px) and (orientation: landscape),
only screen and (device-width: 800px),
only screen and (max-width: 767px) {
  .container{
    padding: 0px;
  }
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url(public/static/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: 'Signika';
    src: url(public/static/Signika-Regular.ttf);
}

body {
    font-family: 'PlayfairDisplay', sans-serif;
    background: #879E82;
    color: #fff;
    /* position: relative; */
    height: auto;
    top: 0px;
    margin: 0;
    padding: 0;
  }
  html,body{
    width: 100%; 
    /* height: 100%; */
    margin: 0px;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden; /*отображается весь контент*/
    z-index: 1;
}
  
.about{
    font-family: 'Signika', sans-serif !important;
}

  .hero {
    background: #879E82;
    color: white;
    text-align: center;
    transition:  background-color black 0.3s ease; 
    position: fixed;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    z-index: 5000;
    top: 0px;
  }




.hero.scrolled { /* New color when scrolled */
    background-color: #000;
    width: 100%;
  }

 
.fixed-menu{
    /* transition:  background-color black 0.3s ease; */
    /* position: fixed; */
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    z-index: 5000;
    cursor: pointer;
    padding: 0px !important;
    /* padding-left: 20px; */
}


#nav{
    width: 100%;
    display: flex;
    padding-right: 20px;
    justify-content: space-around;
    right: 0;    
    margin-right: 0px;
    
    /* position: relative; */
}
#nav .resto-menu{
    display: flex;
    /* padding-right: 20px; */
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    justify-content: space-between;
    /* position: fixed; */
}

ul{
    list-style: none;
    text-align: start;
}
    

.resto-menu li a{
    text-transform: uppercase;
    text-decoration: none;
    /* display: inline-block; */
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.resto-menu li{
    margin-left: 50px;
}

.resto-menu li a:hover{
    color: #ffcc33ff;
}

.open-menu{
    display: none;
    /* padding-right: 15px; */
    margin-right: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: inherit;
    cursor: pointer;
}

.open-menu img{
    display: none;
    color: #fff;
}


.open{
    /* transform: translate(70%); */
    display: block !important;
    /* left: 0px; */
    
}

.open-list{
    animation-name: wipe-in-right;
    animation: wipe-in-right 1s;
    transition: all 1s ease;
}

@keyframes wipe-in-right {
     0%{
        transform: translateX(-100%);
        /* left: -10rem; */
        /* margin-left: 0; */
    }
    100%{
        /* right: -50px; */ 
    transform: translateX(0%); 
    /* left: 0rem; */
} 
}

.close-list {  
    display: block !important;
    transform: translateX(-100%);
    transition: all 1s ease;
 }
.close-menu{
    display: none;
    float: right;
    z-index: 6000;
}

.close-menu img{
    background-color: #fff;
    z-index: 6000;
}


.slide-left{
    -webkit-animation:slide-left .5s cubic-bezier(.25,.46,.45,.94) both;
    animation:slide-left .5s cubic-bezier(.25,.46,.45,.94) both
}


@keyframes wipe-in-left {
    0%{
       transform: translateX(0%);
   }
   100%{
   transform: translateX(-100%);
} 
/* from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}
    }
    
    @keyframes animatetop {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1} */
}


/* &.active{
    #resto-list-id{
        display: block;

        .resto-list-item{
            transform: translateX(0%);
        }
    }
}

.resto-list-item{
    transform: translateX(-100%);
} */


 @media(max-width:1024px){
    #nav{
        position: fixed;
        display: none;
        background-color: #000;
        top: 0;
        /* left: -10rem; */
        left: 0px;
        /* transform: translateX(-100%); */
        /* left: -320px; */
        width: min-content;
        /* -webkit-box-sizing: border-box;/ */
        box-sizing: border-box;
        height: fit-content;
        padding: 20px;
}    

/* .hero{
    display: flex;
    justify-content: flex-end;
} */

.open-menu{
    display: inline-block !important;
    position: fixed;

}

     .open-menu img{
        display: inline-block !important;
     font-weight: 900;
     font-size: 30px;
     color: #fff;
     font-size: 30px;
    }
     .hero{
    display: flex;
    justify-content: space-between;
}
.fixed-menu{
        width: 100%;
    }
  
    #nav .resto-menu{
        clear: both;
    /* margin-top: 50px; */
    /* left: -320px; */
    display: block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    top: 30px;
    padding: 20px;
    /* width: fit-content; */
    
}
#nav .resto-menu li{
        vertical-align: baseline;
        float: none;
    margin-left: 0px;
    margin-bottom: 20px;
    }
    .resto-menu li a{
        font-size: 20px;
        
    }
    .close-menu{
        display: block;
        /* position: absolute; */

    }
    .close-menu img{
        font-weight: 900;
     font-size: 30px;
     /* color: #fff; */
     background-color: #000;
     font-size: 30px;
    }
}

 @media(max-width:750px){
    #nav{
        padding: 5px;
    }
    .resto-menu{
        margin: 5px;
        padding: 5px;
    }
    .resto-menu li{
        margin-bottom: 5px;
    }
    #nav .resto-menu li a{
        font-size: 14px;
    }
 }
  
   


.header_logo{
    display: block;
    width: 170px;
    height: 50px;
    background: url(public/images/logo.PNG) center no-repeat;
    background-size: 200px;
}

.typewriter{
    width: 100%;
    height: 40px;
    background-color: #2b4a24;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typewriter span{
    color: #fff;
    font-size: 36px;
}


  .hero-content {
    text-align: center;
    background-color: #2b4a24;
  }
  .hero-content h1 {
    font-size: 2.5rem;
    color: #f0ead2;
    margin-bottom: 10px;
  }
  
 .hero-content span{
    color: yellowgreen;
 }
  
   @media(max-width:1000px){
    section{
        padding: 30px 10px 3px 10px;
    }
    .hero-content h1{
        font-size: 1.5rem;
    }
    .typewriter{
        height: 30px;
    }
    .typewriter span{
        font-size: 24px;
    }  
}
   @media(max-width:70px){
    section{
        padding: 20px 5px 1px 5px;
    }
    .hero-content h1{
        font-size: 0.5rem;
    }
    .typewriter{
        height: 20px;
    }
    .typewriter span{
        font-size: 12px;
    }  
}

.about-content{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.biographia{
    width: 70%;
}
.portret{
    width: calc(30% - 130px);
    /* background: repeating-conic-gradient(
    from var(--a),
    #ff2770 0%,
    #ff2770 5%,
    transparent 5%,
    transparent 40%,
    #ff2770 50%
  );
  filter: drop-shadow(0 15px 50px #000);
  animation: rotating 4s linear infinite;
  transition: 0.5s; */
}

.portret img{
    width: 250px;
    object-fit: cover;
    height: 300px;
    border-radius: 30px;
    outline:  3px solid #140c10;
    -webkit-box-shadow: 17px 17px 23px -1px rgba(34, 60, 80, 0.2) inset;
-moz-box-shadow: 17px 17px 23px -1px rgba(34, 60, 80, 0.2) inset;
box-shadow: 17px 17px 23px -1px rgba(34, 60, 80, 0.2) inset;
  
}


  
  section {
    padding: 40px 20px 5px 20px;
    /* max-width: 1000px; */
    /* margin: 20px; */
  }

  @media(max-width:1000px){
    .about h2{
        font-size: large;
    }
    .biographia{
        font-size: 14px;
    }
    .who-needs h2{
        font-size: large;
        text-align: center;
    }
    .who-needs p{
        font-size: 14px;
        text-align: center;
    }
    .why-us p{
        font-size: 14px;
    }
    .why-us h2{
        font-size: large;
    }

    .about-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .portret{
        padding-top: 20px;
        width: 35%;
    }
    /* .portret img{
        width: 100%;
    } */
  }

  @media(max-width:560px){
    .portret{
        padding-top: 20px;
        width: 50%;
    }
  }
  
  .cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .card {
    flex: 1 1 250px;
    color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
     box-shadow: 0 0 0 0 #0a472e,
    inset 0 0 200px 28px #0a472e;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
  box-shadow: 0 0 40px 0 #0a472e,
    inset 0 0 25px 0 #0a472e;
  color: #0a472e;
  }
}


  .card:hover{
    background: #7f7f7f;
  }

  
  .services ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    list-style: none;
    padding: 0;
    gap: 10px;
  }
  
  .services li {
    background: #eef4ff;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
  }

  .feature-main{
    margin-top: 100px;
    padding: 0 15px;
}

.feature-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature-header h2{
    font-size: 30px;
    color: #0a472e;
    font-weight: 400;
    /* position: relative; */
    margin-left: 30px; 
}

.feature-header h2::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #bac34e;
    border-radius: 100%;
    left: -30px;
    top: 4px;
}

.seller-header h2::before{
    border: 1px solid red;
}

.feature-link{
    border-color: #bac34e;
}

.feature-link a{
    color: #bac34e;
}

.feature-link img{
    filter: invert(71%) sepia(72%) saturate(317%) hue-rotate(25deg) brightness(94%) contrast(93%);
}

.feature{
    margin-top: 30px;
    position: relative;
    z-index: 0 !important;
}



.feature-arrow{
    /* font-size: 12px; */
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid ;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45%;
    transition: .4s;
    opacity: 0;
    /* z-index: 20; */
    transform: translateY(-50%);
}
.feature-left{
    left: -20px;
}
.feature-right{
    right: 0px;
}
.feature-arrow img{
    width: 70%;
    transition: .4s;
}

.feature-left:hover{
    opacity: 10;
    left: -15px;
    background-color: #bac34e;
    color: #fff;
}
.feature-right:hover{
    opacity: 10;
    right: -15px;
    background-color: #bac34e;
    color: #fff;
}

.feature-items{
    /* display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; */
    margin: 0 auto;
    /* position: relative; */
    width: 100%;
    /* padding: 0px 5%; */
}


.feature-item{
    /* position: relative; */
    /* width: calc(25% - 30px); */
    gap: 20px;
    display: block;
    width: 20%;
    height: 350px;
    background-color: #f0f0f0;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 20px 20px;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    overflow: hidden;
    float: left;
}

.feature-item img{
    width: 100%;
    height: 230px;
    display: block;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    border-radius: 5%;
}

.feature-link-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.feature-link-content span{
    font-size: 18px;
    font-weight: 700;
    color: #000;
}
.feature-link-content p{
    font-size: 16px;
    color: #000;
}
.feature-item-link1{
    margin-top: 30px;
}

.feature-item-link1 a{
    color: #bac34e;

}

.feature-item-link2{
    margin: 15px 0;

}

.feature-item-link2 a{
    font-size: 14px;
    color: #000;
    transition: .4s;
}

.feature-item-link2:hover a{
    color: #bac34e;
}

.feature-item h3{
    color: #000;
    font-size: 18px;
    /* margin-bottom: 15px; */
}

.feature-line{
    transform: translate(0, 50%);
    width: 80px;
    height: 2px;
    background-color: #bac34e;
    margin: 20px auto;
    transition: .4s;
}

.feature-item:hover .feature-line{
    width: 120px;
}

.feature-link-dop{
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px auto;

}

.feature-icon{
    display: flex;
    position: absolute;
    top: 45%;
    transform: translate(50%);
    opacity: 0;
    transition: .4s;
}

.feature-item:hover .feature-icon{
    top: 45%;
    opacity: 1;
}


.feature-icon div{
    width: 40px;
    height: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    transition: .4s;
    /* filter: invert(20%) sepia(10%) saturate(4989%) hue-rotate(113deg) brightness(89%) contrast(92%); */
}

.feature-icon i{
    /* transition: .4s; */
    filter: invert(20%) sepia(10%) saturate(4989%) hue-rotate(113deg) brightness(89%) contrast(92%);
} 

.feature-icon div:hover{
    background-color: #0a472e;
    /* color: #fff; */
}

.feature-icon div:hover i{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(144deg) brightness(107%) contrast(102%);   
}

.hidden{
    display: none;
}



@media(max-width:1000px){
    .feature-item{
        width: calc(25% - 10px);
        padding: 30px 15px;
        height: 300px;
    }
    .feature-item img{
        height: 200px;
    }
    .feature-link-content span{
        font-size: 16px;
    }
    .feature-link-content p{
        font-size: 14px;
    }
}

@media(max-width:800px){
    .feature-item:last-child{
        display: none;
    }
    .feature-item{
        width: calc(33.33% - 20px);
        height: 250px;
    }
    .feature-item img{
        height: 150px;
    }
    .feature-link-content span{
        font-size: 14px;
    }
    .feature-link-content p{
        font-size: 12px;
    }
}

@media (max-width: 1000px) {
  .slider {
    width: 100vw;
    margin: 0 auto;
  }

  .slick-slide img {
    max-height: 80vh; /* чтобы не переливало экран */
    object-fit: cover;
  }
}

@media(max-width:550px){

    .feature-item:nth-child(3), .feature-item:nth-child(4){
        display: none;
    }
    .feature-item{
        margin: 5px;
        width: calc(50% - 30px);
    }
}

@media(max-width:400px){
    .feature-item:nth-child(2){
        display: none;
    }
    .feature-item{
        width: 100%;
    }
}


.why-us > ul > li{
    list-style-type: circle;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions{
    margin-bottom: 10px;
    text-align: center;
}
.questions > ul > li{
    list-style: disc;
}

#modal-window-one , #modal-window-two , #modal-window-three , #modal-window-four{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);  
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content{
    width: 50%;
    background-color: #879E82;
    padding: 50px 20px;
    border-radius: 10px;
    position: relative;
}
.modal-content p{
    color: #000;
    font-size: 16px;
}

.close-btn{
    position: absolute;
    top: 30px;
    right: 20px;
    background-color: #879E82;
    border: none;
}


.open{
    display: flex !important;
}


  .contact {
    background-color: rgb(27, 52, 50);
    color: white;
    padding-bottom: 40px !important;
  }

  .contact h1{
    text-align: center;
  }

  .contact img{
    width: 40px;
    
  }

  .sticky-whatsapp {
    background: #25D366;
    border: 1px solid white;
    border-radius: 35px;
    padding: 10px;
    position: fixed;
    top: 236px;
    right: 50px;
    /* z-index: 1000; */
    cursor: pointer;
    float: right;
}
.sticky-whatsapp a{
    color: white;
    text-decoration: none;
  }
  .sticky-whatsapp a:hover{
    background: var(--green);
    /* color: var(--white); */
  }

  .sticky-instagram{
    position: fixed;
    top: 300px;
    right: 50px;
    float: right;
    z-index: 200;
  }
  .sticky-instagram img{
    width: 60px;
  }

@media (max-width: 600px){
    .sticky-whatsapp{
        top: calc(100% - 100px);
    }
    .sticky-instagram{
        top: calc(100% - 50px);
    }
} 
  

  .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -4px;
  pointer-events: none;
  mix-blend-mode: screen;
  z-index: 10;
  box-shadow: 0px 0px 8px 0px #FDFCA9 inset, 0px 0px 24px 0px #25D366, 0px 0px 8px 0px #FFFFFF42;
}

/* .button-wrapper {
  position: relative;
} */

.button {
  z-index: 1;
  position: relative;
  text-decoration: none;
  text-align: center;
  appearance: none;
  display: inline-block;
}

/* Styling for the button's glowing effect on hover */
.button::before {
  content: "";
  box-shadow: 0px 0px 24px 0px #25D366;
  mix-blend-mode: screen;
  transition: opacity 0.2s;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 999px;
  opacity: 0;
}

/* Additional glowing effect for the button */
.button::after {
  content: "";
  /* box-shadow: 0px 0px 23px 0px #FDFCA9 inset, 0px 0px 8px 0px #FFFFFF42; */
  transition: opacity 0.2s;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 999px;
  opacity: 0;
}

.button-wrapper:hover {
  .button::before, .button::after {
    opacity: 1;
  }
  
  .dot {
    transform: translate(0, 0) rotate(var(--rotatation));
  }
  
  .dot::after {
    animation-play-state: running;
  }
}

/* Styling for individual dots */
.dot {
  display: block;
  position: absolute;
  transition: transform calc(var(--speed) / 12) ease;
  width: var(--size);
  height: var(--size);
  transform: translate(var(--starting-x), var(--starting-y)) rotate(var(--rotatation));
}

.dot::after {
  content: "";
  animation: hoverFirefly var(--speed) infinite, dimFirefly calc(var(--speed) / 2) infinite calc(var(--speed) / 3);
  animation-play-state: paused; 
  display: block;
  border-radius: 100%;
  background: #25D366;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 6px 0px #25D366;
}

.dot-1 {
  --rotatation: 0deg;
  --speed: 14s;
  --size: 6px;
  --starting-x: 30px;
  --starting-y: 20px;
  top: 2px;
  left: -16px;
  opacity: 0.7;
}

.dot-2 {
  --rotatation: 122deg;
  --speed: 16s;
  --size: 3px;
  --starting-x: 40px;
  --starting-y: 10px;
  top: 1px;
  left: 0px;
  opacity: 0.7;
}

.dot-3 {
  --rotatation: 39deg;
  --speed: 20s;
  --size: 4px;
  --starting-x: -10px;
  --starting-y: 20px;
  top: -8px;
  right: 14px;
}

.dot-4 {
  --rotatation: 220deg;
  --speed: 18s;
  --size: 2px;
  --starting-x: -30px;
  --starting-y: -5px;
  bottom: 4px;
  right: -14px;
  opacity: 0.9;
}

.dot-5 {
  --rotatation: 190deg;
  --speed: 22s;
  --size: 5px;
  --starting-x: -40px;
  --starting-y: -20px;
  bottom: -6px;
  right: -3px;
}

.dot-6 {
  --rotatation: 20deg;
  --speed: 15s;
  --size: 4px;
  --starting-x: 12px;
  --starting-y: -18px;
  bottom: -12px;
  left: 30px;
  opacity: 0.7;
}

.dot-7 {
  --rotatation: 300deg;
  --speed: 19s;
  --size: 3px;
  --starting-x: 6px;
  --starting-y: -20px;
  bottom: -16px;
  left: 44px;
}

/* Keyframe animations */
@keyframes dimFirefly {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hoverFirefly {
    0% {
      transform: translate(0, 0);
    }
    12% {
      transform: translate(3px, 1px);
    }
    24% {
      transform: translate(-2px, 3px);
    }
    37% {
      transform: translate(2px, -2px);
    }
    55% {
      transform: translate(-1px, 0);
    }
    74% {
      transform: translate(0, 2px);
    }
    88% {
      transform: translate(-3px, -1px);
    }
    100% {
      transform: translate(0, 0);
    }
}

  @media(max-width:1000px){
    .contact{
        padding: 20px !important;
    }
    .contact h1{
        font-size: larger;
    }

    .sticky-whatsapp{
        padding: 7px;
    }
    .sticky-instagram img{
        width: 40px;
    }
    
    footer{
        padding: 5px;
    }
  }
 
  
  footer {
    background: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    color: #555;
  }